
	{% load static %}
	
	{% block contenido %}
	<h1> Bienvenido a mi sitio web </h1>
	<h2> Inicia tu sesión </h2>
	<form method="POST">{%csrf_token%}
	  {% if form.errors %}
		<p class="error"> Usuario o contraseña incorrectos </p>
	  {% endif %}
	  <div class="form-group">
		<label for="username"> Usuario: </label>
		<input type="text" id="username" name="username" placeholder="USUARIO">
	  </div>
	  <div class="form-group">
		<label for="password"> Contraseña: </label>
		<input type="password" id="password" name="password" placeholder="PASSWORD">
	  </div>
	  <button type="submit"> ENVIAR </button>
	</form>
	{% endblock contenido %}